@import "node_modules/font-awesome/scss/font-awesome.scss";

//DESKTOP HEADER
.may-desktop-header {
  &-close {
    height: 70px;
    background: #032541;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &-dark-theme {
      background-color: #e8ebe9;
    }

    &-logo {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 45px;

      &-white {
        color: white;
      }
    }

    &-center-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 50%;
      height: 60%;

      &-burger {
        width: 20%;
      }

      &-form {
        display: flex;
        justify-content: space-between;
        width: 60%;

        .input {
          width: 80%;
          outline: none;
        }
      }

      &-toggle-theme {
        display: flex;
        justify-content: flex-end;
        width: 20%;

      }
    }

    &-user {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 60%;
      width: 20%;

      color: white;

      &-dark-theme {
        color: black;

      }
    }
  }

  &-open {
    display: flex;
    justify-content: space-between;
    padding: 20px 140px;
    width: 100%;

    .link {
      color: #15a2ab;
      text-decoration: none;
      font-family: 'Notable', sans-serif;
      font-size: 20px;
    }

    .link:hover {
      color: #09595e;
    }

    span:hover {
      transform: scale(1.03);
    }

    &-dark-theme {
      background-color: #282c32;

      .link:hover {
        color: #70ced4;
      }
    }
  }
}


//TABLET HEADER
.may-tablet-header {

  height: 70px;
  background: #032541;

  display: flex;
  justify-content: space-around;
  align-items: center;


  &-burger {
    font-size: 33px;
    color: #d3531a;
  }

  &-sidenav {
    &-dark {
      background-color: #565454;
    }

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;

    &-closebtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
      margin-right: 8px;
      font-size: 25px;

      &-dark {
        color: white;
      }
    }

    &-logo {
      display: flex;
      justify-content: center;
      margin-top: 36px;
      font-size: 90px;
      color: darkblue;

      &-dark {
        color: #21262a;
      }
    }

    &-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      margin-left: 30%;
      font-weight: 400;


      span {
        font-size: 20px;
        margin-top: 20px;

        .link {
          color: black;
          text-decoration: none;

          &-dark {
            color: white;
          }
        }

        .link:hover {
          font-weight: bold;
        }
      }

    }
  }

  &-dark {
    background-color: #e8ebe9;
  }

  &-form {
    display: flex;
    justify-content: space-between;
    width: 40%;

    .input {
      width: 80%;
      outline: none;
    }
  }
}


//MOBILE HEADER
.may-mobile-header {
  height: 50px;
  background: #032541;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  &-dark {
    background-color: #e8ebe9;
  }

  &-burger {
    font-size: 33px;
    color: #d3531a;
  }

  &-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;

    &-dark {
      background-color: #565454;
    }

    &-closebtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
      margin-right: 8px;
      font-size: 25px;

      &-dark {
        color: white;
      }
    }

    &-logo {
      display: flex;
      justify-content: center;
      margin-top: 36px;
      font-size: 90px;
      color: darkblue;

      &-dark {
        color: #21262a;
      }
    }

    &-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      margin-left: 30%;
      font-weight: 400;


      span {
        font-size: 20px;
        margin-top: 20px;

        .link {
          color: black;
          text-decoration: none;

          &-dark {
            color: white;
          }
        }

        .link:hover {
          font-weight: bold;
        }
      }
    }
  }

  &-form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .input {
      margin: 20px 0 10px 0;
    }
  }
}