@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Josefin+Sans:ital,wght@1,600&family=Josefin+Slab:ital@1&family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

.may-movie-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;

  .dark {
    background-color: #282c32;
  }

  &-content {
    display: flex;
    width: 100%;

    &-poster {
      width: 30%;

      img {
        width: 100%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
      padding: 0 30px 0 30px;

      &-border {
        background-color: #cdd0d1;
        border-radius: 20px;
        height: 60%;
        padding: 20px;
      }

      &-title {
        text-align: center;
        font-size: 30px;
        font-family: 'Lobster', cursive;
      }

      &-genres {
        font-family: 'Josefin Slab', serif;
        span {
          margin-right: 5px;
        }
      }

      &-popularity {
        font-family: 'Josefin Slab', serif;
      }

      &-release-date {
        font-family: 'Josefin Slab', serif;
      }

      &-overview {
        font-size: 90vm;
        font-family: 'Josefin Sans', sans-serif;
      }

      &-similar-movies {
        display: flex;
        overflow-x: auto;
      }
    }
  }
}