.similar-card{

  position: relative;
  margin: 5px;
  width: 100%;
  padding: 0;



  &-image{

    img{
      width: 300px;
      border-radius: 20px;

    }
  }

  &-info{
    position: absolute;
  }


}




.similar-card:hover{
  transform: scale(1.02);
}
